<LoopObjectWithoutOptions>
    <div>
        {% for obj %}
            {{ name }};
        {% endfor %}
    </div>
</LoopObjectWithoutOptions>
<LoopWithCustomTag>
    <div>
        <MyUl list="{{ list }}"/>
    </div>
</LoopWithCustomTag>
<MyUl>
    <ul>
        {% for element of list %}
        <MyLi props="{{ element }}"/>
        {% endfor %}
    </ul>
</MyUl>
<MyLi>
    <li>{{ props.id + ':' + props.value }}</li>
</MyLi>
<LoopLocaleVariableExpose>
    <section>
        {% for a of as %}
            <i>
                {% for b of bs %}
                    <b>{{ b }}</b>
                {% endfor %}
            </i>
        {% endfor %}
    </section>
</LoopLocaleVariableExpose>