<ReLoopOptionsCache>
    <ul>
        {% for code, item of currencies %}
            {% if code == currency %}
                <li class="selected">
                    <span>{{ code }}</span>{{ ': ' + item.name }}
                </li>
            {% else %}
                <li>
                    <span>{{ code }}</span>{{ ': ' + item.name }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</ReLoopOptionsCache>
<ReLoopMustNotMutateData>
    <ol>
        {% for sub of colors %}
            {% for color of sub.colors %}
                <li>
                    {{ color.color }}
                </li>
            {% endfor %}
        {% endfor %}
    </ol>
</ReLoopMustNotMutateData>
<ReLoopMustWorkWithSameNameLoops>
    <ol>
        {% for colors %}
            {% for colors %}
                <li>
                    {{ color }}
                </li>
            {% endfor %}
        {% endfor %}
    </ol>
</ReLoopMustWorkWithSameNameLoops>
<ReLoopWithIfAndOuterScope>
    <div>
        {% for attr of attributes %}
            <span>{{attr.name}}</span>
            <span>{{attr.value}}</span>
            {% if attr %}
                <span>{{outer}}</span>
            {% endif %}
        {% endfor %}
    </div>
</ReLoopWithIfAndOuterScope>
