<ReForCustom>
    <div>
        {% for array %}
            <Tag/>
        {% endfor %}
    </div>
</ReForCustom>
<UpdateLoopsInCustomTags>
    <i>
        <custom-tag-with-loop list={{ list }} foo={{ foo }} bar={{ bar }}/>
    </i>
</UpdateLoopsInCustomTags>
<custom-tag-with-loop>
    <em>
        {% for item of list %}
            <b class="{{ foo }}{{ bar }}">{{ item }}</b>
        {% endfor %}
    </em>
</custom-tag-with-loop>
<UpdateLocalVars>
    <p>
        {% if list %}
            {% for t1 of list %}
                {% for value of t1 %}
                    <i>{{ value }}</i>
                {% endfor %}
            {% endfor %}
        {% endif %}
    </p>
</UpdateLocalVars>
<ReLoopOptionsCache>
    <ul>
        {% for code, item of currencies %}
            {% if code == currency %}
                <li class="selected">
                    <span>{{ code }}</span>{{ ': ' + item.name }}
                </li>
            {% else %}
                <li>
                    <span>{{ code }}</span>{{ ': ' + item.name }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</ReLoopOptionsCache>
<ReLoopMustNotMutateData>
    <ol>
        {% for sub of colors %}
            {% for color of sub.colors %}
                <li>
                    {{ color.color }}
                </li>
            {% endfor %}
        {% endfor %}
    </ol>
</ReLoopMustNotMutateData>
<ReLoopMustWorkWithSameNameLoops>
    <ol>
        {% for colors %}
            {% for colors %}
                <li>
                    {{ color }}
                </li>
            {% endfor %}
        {% endfor %}
    </ol>
</ReLoopMustWorkWithSameNameLoops>
<ReLoopWithIfAndOuterScope>
    <div>
        {% for attr of attributes %}
            <span>{{attr.name}}</span>
            <span>{{attr.value}}</span>
            {% if attr %}
                <span>{{outer}}</span>
            {% endif %}
        {% endfor %}
    </div>
</ReLoopWithIfAndOuterScope>
